input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

img {
    float: left;
    padding-right: 20px;
} 